body {
  position: relative;
  .--line {
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 10px;
      background-color: #f3ed59;
      position: absolute;
      bottom: 5px;
      z-index: -1;
    }
  }
}
.bar{
  position: fixed;
  top:40%;
  right:0;
  display: flex;
  flex-direction: column;
  gap:10px;
  z-index: 999;
  padding:20px 15px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  &:hover{
    opacity: 1;
  }
  &:after{
    content: "";
    position: absolute;
    top:50%;
    right:0;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 1px;
    background-color: #958787;
  }
}
.marquee {
  font-size: 2rem;
  padding: 5px 0;
  font-weight: 700;
  ul {
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    text-align: center;
    background-color: #2b2b2b;
    li {
      animation: marquee 10s linear infinite;
      animation-play-state: running;
      padding: 5px 12.5px 12px;
      color: white;
    }
    &:hover {
      li {
        animation-play-state: paused;
      }
    }
  }
  strong {
    font-weight: 700;
    color: #fde74c;
    &:before,
    &:after {
      content: " / ";
      color: white;
    }
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.banner {
  position: relative;
  .banner-image {
    img {
      width: 100%;
      height: 100vh;
      @include sm {
        height: auto;
      }
    }
  }
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    .slick-active {
      button {
        background-color: #2b2b2b;
      }
    }
    li {
      button {
        width: 10px;
        height: 10px;
        border: none;
        background-color: rgba(120, 120, 120, 0.8);
        border-radius: 50%;
        margin: 0 5px;
        font-size: 0;
        cursor: pointer;
      }
    }
  }
}
.popup {
  .popup__list {
    &-user {
      position: fixed;
      background: #fff;
      box-shadow: 0px 6px 4px rgba(179, 179, 179, 0.25);
      top: 120px;
      right: 140px;
      z-index: 50;
      width: 200px;
      padding: 25px 20px 20px;
      opacity:0;
      transition: all 0.3s ease-in-out;
      &.active {
        opacity:1;
      }
      @include xs {
        right: 75px;
      }
      .popup__list-btn {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
        button {
          display: block;
          width: 100%;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
          padding: 9px 10px 9px 12px;
          border: 1px solid black;
          font-size: 15px;
          line-height: 18px;
          &:hover {
            cursor: pointer;
          }
        }
        &-login {
          background-color: black;
          color: white;
        }
        &-register {
          background-color: white;
          color: black;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
      .popup__list-option {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        gap: 7px;
        :is(&-follow, &-member, &-store):hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &-like {
      position: fixed;
      z-index: 999;
      width: 30%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      transform: translate(100%, 0);
      transition: transform 0.3s ease-in-out;
      &.active{
        transform: translate(0, 0);
      }
      @include sm {
        width: 60%;
      }
      @include xs {
        width: 70%;
      }
      @include xxs {
        width: 100%;
      }
      // transition: all 0.3s ease;
      // transform: translate(100%, 0);
      &-content {
        padding: 40px 50px;
        &-title {
          display: flex;
          justify-content: space-between;
          .content {
            font-size: 16px;
            font-weight: 700;
            &-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              svg {
                width: 1.3rem;
                height: 1.3rem;
              }
            }
          }
          &-close {
            font-size: 37px;
            line-height: 21px;
            cursor: pointer;
            text-transform: uppercase;
            color: #8c8c8c;
          }
        }
        &-list {
          margin: 20px 0;
          font-size: 13px;
          background-color: #edcb93;
          color: #6f4400;
          padding: 11px 40px;
          @include xs {
            padding: 7px 15px;
          }
        }
      }
    }
    &-cart {
      position: fixed;
      z-index: 999;
      width: 30%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      transform: translate(100%, 0);
      transition:all 0.3s ease-in-out;
      @include sm {
        width: 60%;
      }
      @include xs {
        width: 70%;
      }
      @include xxs {
        width: 100%;
      }
      // transition: all 0.3s ease;
      // transform: translate(100%, 0);
      &-content {
        padding: 40px 50px;
        &-title {
          display: flex;
          justify-content: space-between;
          .content {
            font-size: 16px;
            font-weight: 700;
            &-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              svg {
                width: 1.3rem;
                height: 1.3rem;
              }
            }
          }
          &-close {
            font-size: 37px;
            line-height: 21px;
            text-transform: uppercase;
            color: #8c8c8c;
          }
        }
        &-list {
          margin: 20px 0;
          font-size: 13px;
          background-color: #ffd8d8;
          color: #f20e0e;
          padding: 11px 40px;
          @include xs {
            padding: 7px 15px;
          }
        }
      }
      &.active{
        transform: translate(0, 0);
      }
    }
    &-search {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 300px;
      background-color: white;
      z-index: 999;
      transform: translate(0,-100%);
      transition: all 0.3s ease;
      &.active{
        transform: translate(0, 0);
      }
      &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        .popup__list-search-info {
          img {
            display: block;
            margin: 0 auto;
          }
          ul {
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            position: relative;
            li {
              a {
                position: relative;
                text-decoration: none;
                color: black;
                font-size: 16px;
                &:after {
                  display: inline;
                  content: "";
                  position: absolute;
                  top: 0;
                  width: 1px;
                  height: 100%;
                  margin-left: 20px;
                  background-color: black;
                }
              }
            }
          }
          .popup__list-search-close {
            position: absolute;
            top: 20%;
            right: 10%;
            font-size: 37px;
            line-height: 36px;
            text-transform: uppercase;
            color: #8c8c8c;
            cursor: pointer;
          }
        }
        .popup__list-search-input {
          display: flex;
          width: 80%;
          position: relative;
          svg {
            position: absolute;
            top: 0;
            left: 0;
          }
          input {
            padding: 10px 40px;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid black;
          }
        }
        button {
          display: block;
          margin: 0 auto;
          width: 100%;
          padding: 20px;
          border: 1px solid black;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          background-color: transparent;
          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
    }
  }
}
