body {
  position: relative;
}
.marquee {
  font-size: 1.2rem;
  font-weight: 700;
  ul {
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    text-align: center;
    background-color: white;
    li {
      animation: marquee 5s linear infinite;
      animation-play-state: running;
      padding: 5px 12.5px 12px;
      color: black;
    }
    &:hover {
      li {
        animation-play-state: paused;
      }
    }
  }
  svg {
    width: 1rem;
    height: 1rem;
    text-align: center;
    margin: 0 10px 0 100px;
  }
  strong {
    font-weight: 700;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.banner {
  position: relative;
  .banner-image {
    img {
      width: 100%;
      height: 100vh;
    }
  }
  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    .slick-active {
      button {
        background-color: #2b2b2b;
      }
    }
    li {
      button {
        width: 10px;
        height: 10px;
        border: none;
        background-color: rgba(120, 120, 120, 0.8);
        border-radius: 50%;
        margin: 0 5px;
        font-size: 0;
        cursor: pointer;
      }
    }
  }
}
.popup {
  .popup__list {
    &-user {
      display: none;
      position: absolute;
      background: #fff;
      box-shadow: 0px 6px 4px rgba(179, 179, 179, 0.25);
      top: 120px;
      right: 140px;
      z-index: 50;
      width: 200px;
      padding: 25px 20px 20px;
      .popup__list-btn {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
        button {
          display: block;
          width: 100%;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
          padding: 9px 10px 9px 12px;
          border: 1px solid black;
          font-size: 15px;
          line-height: 18px;
          &:hover {
            cursor: pointer;
          }
        }
        &-login {
          background-color: black;
          color: white;
        }
        &-register {
          background-color: white;
          color: black;
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        right: 20px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
      }
      .popup__list-option {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        gap: 7px;
        :is(&-follow, &-member, &-store):hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    &-like {
      display: none;
      position: fixed;
      z-index: 999;
      width: 30%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      &-content {
        padding: 40px 50px;
        &-title {
          display: flex;
          justify-content: space-between;
          .content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            font-size: 16px;
          }
          &-close {
            font-size: 37px;
            line-height: 21px;
            text-transform: uppercase;
            color: #8c8c8c;
          }
        }
      }
    }
    &-search {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 300px;
      background-color: white;
      z-index: 999;
      transition: all 0.3s ease;
      &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        .popup__list-search-info {
          img {
            display: block;
            margin: 0 auto;
          }
          ul {
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            position: relative;
            li {
              a {
                position: relative;
                text-decoration: none;
                color: black;
                font-size: 16px;
                &:after {
                  display: inline;
                  content: "";
                  position: absolute;
                  top: 0;
                  width: 1px;
                  height: 100%;
                  margin-left: 20px;
                  background-color: black;
                }
              }
            }
          }
          .popup__list-search-close {
            position: absolute;
            top: 20%;
            right: 10%;
            font-size: 37px;
            line-height: 36px;
            text-transform: uppercase;
            color: #8c8c8c;
            cursor: pointer;
          }
        }
        .popup__list-search-input {
          display: flex;
          width: 80%;
          position: relative;
          svg {
            position: absolute;
            top: 0;
            left: 0;
          }
          input {
            padding: 10px 40px;
            width: 100%;
            outline: none;
            border: none;
            border-bottom: 1px solid black;
          }
        }
        button {
          display: block;
          margin: 0 auto;
          width: 100%;
          padding: 20px;
          outline: none;
          border: none;
          background-color: black;
          color: white;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
