footer {
  height: auto;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  .footer {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
    &__brand {
      grid-column: 1/6;
      @include xs {
        grid-column: 1/17;
      }
      &-logo {
        margin: 20px 0;
      }
      &-name {
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0;
      }
      &-address {
        line-height: normal;
        font-size: 16px;
      }
    }
    &__right {
      grid-column: 7/17;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include xs {
        grid-column: 1/17;
        grid-template-columns: repeat(1, 1fr);
      }
      &-company,
      &-policy,
      &-info {
        &-title {
          font-weight: 700;
          font-size: 24px;
          position: relative;
          margin: 20px 0;
          width: fit-content;
          z-index: 3;
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background-color: #fc54a0;
            position: absolute;
            bottom: 0;
            z-index: -1;
          }
        }
        &-list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          &-item {
            font-size: 16px;
            font-weight: 400;
            strong {
              font-size: 20px;
              font-weight: 700;
              display: block;
              margin: 10px 0;
            }
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        &-more {
          font-size: 24px;
          font-weight: 600;
          margin: 10px 0;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
