header {
  position: sticky;
  z-index: 10;
  top: 0;
  height: 0;
  .container {
    position: relative;
    z-index: 9;
    background: linear-gradient(
      180deg,
      #8c8c8c 0%,
      rgba(217, 217, 217, 0) 100%
    );
    width: 100%;
    height: 152px;
    .header {
      padding: 20px 50px;
      display: flex;
      justify-content: space-between;
      position: relative;
      @include xs {
        padding: 15px 10px;
      }
      &.active {
        background-color: white;
      }
      &__logo {
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translate(-50%, 0);
        &-black {
          display: none;
          width: 130px;
          position: absolute;
          cursor: pointer;
          left: 50%;
          transform: translate(-50%, 0);
        }
        &-white {
          width: 130px;
        }
        @include xs {
          left: 30%;
          top: 23%;
          &-black {
            display: none;
            width: 110px;
          }
          &-white {
            display: block;
            width: 110px;
          }
        }
      }
      &__left {
        position: absolute;
        left: 5%;
        @include sm {
          display: none;
        }
        &-list {
          display: flex;
          gap: 50px;
          margin-top: 10px;
          &-item {
            color: black;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 18px;
            a {
              text-decoration: none;
            }
            &:nth-child(-n + 2) {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                background-color: black;
                width: 1px;
                height: 100%;
                right: -24px;
              }
            }
          }
        }
      }
      &__center {
        display: none;
        gap: 50px;
        &-item {
          a {
            line-height: 18px;
            font-weight: 700;
            font-size: 15px;
            text-decoration: none;
            color: black;
            text-transform: uppercase;
          }
        }
      }
      &__right {
        // @include xs {
        //   display: none;
        // }
        &-list {
          display: flex;
          align-items: center;
          gap: 20px;
          .header__item {
            color: white;
            font-size: 15px;
            position: relative;
            cursor: pointer;
            &-search {
              cursor: pointer;
              margin-right: 20px;
              width: 350px;
              display: flex;
              position: relative;
              justify-content: space-between;
              align-items: center;
              @include md {
                width: 100%;
              }
              &-icon {
                width: 1.7rem;
                height: 1.7rem;
                padding: 10px 0;
                position: absolute;
                left: 0;
              }
              &-input {
                cursor: pointer;
                outline: none;
                color: white;
                width: 100%;
                border: none;
                border-bottom: 1px solid white;
                background-color: transparent;
                padding: 10px 0 10px 40px;
                @include md {
                  display: none;
                }
              }
            }
            &-heart {
              position: relative;
              &:after {
                content: "";
                position: absolute;
                background-color: rgb(233, 65, 65);
                width: 0.7rem;
                height: 0.7rem;
                border-radius: 100%;
                top: -15px;
                right: 0;
                opacity: 1;
                @include xs {
                  top: -10px;
                }
              }
            }
            @include xs {
              :is(&-heart, &-search, &-cart, &-user) {
                svg {
                  width: 1.4rem;
                  height: 1.4rem;
                }
              }
            }
          }
        }
      }
      .nav__mobile {
        position: relative;
        width: 2rem;
        display: none;
        flex-direction: column;
        gap: 5px;
        @include xs {
          display: flex;
        }
        &-line {
          cursor: pointer;
          display: block;
          height: 3px;
          width: 70%;
          background-color: white;
          &.active {
            background-color: black;
          }
          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }
  }
}

.menu {
  position: relative;
  width: 40%;
  color: black;
  height: 0;
  @include xs {
    display: none;
  }
  &__section {
    background-color: transparent;
    padding: 20px 50px;
    position: relative;
    z-index: 12;
    height: 100vh;
    &-list {
      display: flex;
      gap: 48px;
      @include sm {
        gap: 35px;
      }
      &-item {
        color: white;
        cursor: pointer;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        font-weight: 700;
        &:nth-child(-n + 2) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            background-color: white;
            width: 1px;
            height: 100%;
            right: -24px;
          }
        }
      }
    }
    .menu__list {
      padding-top: 48px;
      &-item {
        color: white;
        font-size: 20px;
        line-height: 40px;
        font-weight: 700;
        cursor: pointer;
        .subItem {
          display: flex;
          &__list {
            padding-left: 20px;
            display: none;
            &-item {
              &:hover {
                color: rgb(235, 248, 52);
              }
            }
          }
          &-icon {
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            top: 20px;
            left: 10px;
            display: block;
            transform: translateY(-50%);
            &:before,
            &:after {
              content: "";
              position: absolute;
              background-color: white;
              width: 70%;
              height: 1px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition-duration: 200ms;
            }
            &:after {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
          &.active {
            .subItem__list.active {
              display: block;
            }
            .subItem-icon {
              &:after {
                transform: translate(-50%, -50%) rotate(0deg);
              }
            }
          }
        }
      }
    }
  }
}
@include xs {
  .menu {
    display: none;
  }
}
