.product {
  padding: 100px 60px;
  @include xs {
    padding: 30px 20px;
  }
  &-title {
    margin: 0 auto 37px;
    width: fit-content;
    h2 {
      margin: 0 auto;
      position: relative;
      font-size: 36px;
      line-height: 42px;
      font-weight: 900;
      z-index: 7;
      @include xs {
        font-size: 24px;
        line-height: 28px;
      }
      // &:after {
      //   content: "";
      //   display: block;
      //   width: 100%;
      //   height: 10px;
      //   background-color: #f3ed59;
      //   position: absolute;
      //   bottom: 5px;
      //   z-index: -1;
      // }
    }
  }
  &-info {
    .product-list {
      display: flex;
      gap: 30px;
      position: relative;
      .slick-track {
        display: flex;
        gap: 20px;
        .product__wrap {
          width: auto;
          position: relative;
          overflow: hidden;
          &-img {
            will-change: transform;
            transition: transform 0.64s ease;
            width: 100%;
            height: 100%;
          }
          &-banner {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            will-change: transform;
            transition: transform 0.64s ease;
          }
          &:hover {
            img {
              transform: scale(1.06);
            }
          }
        }
        .product-info {
          .product__name-wrap {
            display: flex;
            padding: 10px 0;
            cursor: pointer;
            span {
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .product-price-wrap {
            .product-price {
              font-size: 18px;
              line-height: 21px;
              font-weight: 700;
              color: #000;
            }
            .product-preview {
              cursor: pointer;
              position: relative;
              width: fit-content;
              // @include xs {
              //   display: none;
              // }
              img {
                width: 3rem;
                height: 3rem;
              }
              &:hover {
                transition: all 0.3s ease;
                &:before {
                  content: "Đen";
                  background-color: white;
                  position: absolute;
                  width: 67px;
                  height: 125px;
                  border: 1px solid black;
                  top: -120px;
                  text-align: center;
                  border-radius: 2px;
                }
                &:after {
                  content: "";
                  background: url("https://routine.vn/media/catalog/product/cache/d6ec37e98cd5482d3197d29f912fea48/q/u/quan-jean-nam-10s21dpaw001cr1-black-_2__2.jpg")
                    no-repeat center;
                  width: 48px;
                  height: 90px;
                  display: block;
                  position: absolute;
                  top: -100px;
                  left: 10px;
                }
              }
            }
          }
        }
      }
      @include xxs {
        .slick-track {
          .product__wrap-banner {
            display: none;
          }
        }
      }
      .slick-arrow {
        all: unset;
        font-size: 24px;
        cursor: pointer;
      }
      .slick-dots {
        display: flex;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        .slick-active {
          button {
            background-color: #2b2b2b;
          }
        }
        li {
          button {
            width: 10px;
            height: 10px;
            border: none;
            background-color: rgba(120, 120, 120, 0.8);
            border-radius: 50%;
            margin: 0 5px;
            font-size: 0;
            cursor: pointer;
          }
        }
      }
      .slick-prev,
      .slick-next {
        display: flex;
        align-items: center;
      }
      .slick-disabled {
        color: #ccc;
      }
      @include sm {
        .slick-track {
          .product-preview {
          }
          .product-price {
            color: yellow;
          }
        }
        .slick-slide {
          div {
            position: relative;
          }
        }
      }
    }
  }
  &-readmore {
    margin: 80px 0;
    a {
      display: block;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 30px;
      border: 1px solid #000;
      border-radius: 2px;
      text-decoration: none;
      color: #000;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      &:hover {
        background-color: #000;
        color: white;
      }
    }
  }
}
