@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}

/*GRID - media queries breakpoints*/
body {
  position: relative;
}
body .--line:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #f3ed59;
  position: absolute;
  bottom: 5px;
  z-index: -1;
}

.marquee {
  font-size: 2rem;
  padding: 5px 0;
  font-weight: 700;
}
.marquee ul {
  position: relative;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
  text-align: center;
  background-color: #2b2b2b;
}
.marquee ul li {
  animation: marquee 10s linear infinite;
  animation-play-state: running;
  padding: 5px 12.5px 12px;
  color: white;
}
.marquee ul:hover li {
  animation-play-state: paused;
}
.marquee strong {
  font-weight: 700;
  color: #fde74c;
}
.marquee strong:before, .marquee strong:after {
  content: " / ";
  color: white;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.banner {
  position: relative;
}
.banner .banner-image img {
  width: 100%;
  height: 100vh;
}
@media screen and (max-width: 991px) {
  .banner .banner-image img {
    height: auto;
  }
}
.banner .slick-dots {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
.banner .slick-dots .slick-active button {
  background-color: #2b2b2b;
}
.banner .slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  background-color: rgba(120, 120, 120, 0.8);
  border-radius: 50%;
  margin: 0 5px;
  font-size: 0;
  cursor: pointer;
}

.popup .popup__list-user {
  display: none;
  position: fixed;
  background: #fff;
  box-shadow: 0px 6px 4px rgba(179, 179, 179, 0.25);
  top: 120px;
  right: 140px;
  z-index: 50;
  width: 200px;
  padding: 25px 20px 20px;
}
@media screen and (max-width: 767px) {
  .popup .popup__list-user {
    right: 75px;
  }
}
.popup .popup__list-user .popup__list-btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}
.popup .popup__list-user .popup__list-btn button {
  display: block;
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 9px 10px 9px 12px;
  border: 1px solid black;
  font-size: 15px;
  line-height: 18px;
}
.popup .popup__list-user .popup__list-btn button:hover {
  cursor: pointer;
}
.popup .popup__list-user .popup__list-btn-login {
  background-color: black;
  color: white;
}
.popup .popup__list-user .popup__list-btn-register {
  background-color: white;
  color: black;
}
.popup .popup__list-user:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.popup .popup__list-user .popup__list-option {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  gap: 7px;
}
:is(.popup .popup__list-user .popup__list-option-follow, .popup .popup__list-user .popup__list-option-member, .popup .popup__list-user .popup__list-option-store):hover {
  text-decoration: underline;
  cursor: pointer;
}
.popup .popup__list-like {
  display: none;
  position: fixed;
  z-index: 999;
  width: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
@media screen and (max-width: 991px) {
  .popup .popup__list-like {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .popup .popup__list-like {
    width: 70%;
  }
}
@media (max-width: 389px) {
  .popup .popup__list-like {
    width: 100%;
  }
}
.popup .popup__list-like-content {
  padding: 40px 50px;
}
.popup .popup__list-like-content-title {
  display: flex;
  justify-content: space-between;
}
.popup .popup__list-like-content-title .content {
  font-size: 16px;
  font-weight: 700;
}
.popup .popup__list-like-content-title .content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.popup .popup__list-like-content-title .content-icon svg {
  width: 1.3rem;
  height: 1.3rem;
}
.popup .popup__list-like-content-title-close {
  font-size: 37px;
  line-height: 21px;
  text-transform: uppercase;
  color: #8c8c8c;
}
.popup .popup__list-like-content-list {
  margin: 20px 0;
  font-size: 13px;
  background-color: #edcb93;
  color: #6f4400;
  padding: 11px 40px;
}
@media screen and (max-width: 767px) {
  .popup .popup__list-like-content-list {
    padding: 7px 15px;
  }
}
.popup .popup__list-cart {
  display: none;
  position: fixed;
  z-index: 999;
  width: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}
@media screen and (max-width: 991px) {
  .popup .popup__list-cart {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .popup .popup__list-cart {
    width: 70%;
  }
}
@media (max-width: 389px) {
  .popup .popup__list-cart {
    width: 100%;
  }
}
.popup .popup__list-cart-content {
  padding: 40px 50px;
}
.popup .popup__list-cart-content-title {
  display: flex;
  justify-content: space-between;
}
.popup .popup__list-cart-content-title .content {
  font-size: 16px;
  font-weight: 700;
}
.popup .popup__list-cart-content-title .content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.popup .popup__list-cart-content-title .content-icon svg {
  width: 1.3rem;
  height: 1.3rem;
}
.popup .popup__list-cart-content-title-close {
  font-size: 37px;
  line-height: 21px;
  text-transform: uppercase;
  color: #8c8c8c;
}
.popup .popup__list-cart-content-list {
  margin: 20px 0;
  font-size: 13px;
  background-color: #ffd8d8;
  color: #f20e0e;
  padding: 11px 40px;
}
@media screen and (max-width: 767px) {
  .popup .popup__list-cart-content-list {
    padding: 7px 15px;
  }
}
.popup .popup__list-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-color: white;
  z-index: 999;
  transition: all 0.3s ease;
}
.popup .popup__list-search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.popup .popup__list-search-wrap .popup__list-search-info img {
  display: block;
  margin: 0 auto;
}
.popup .popup__list-search-wrap .popup__list-search-info ul {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
}
.popup .popup__list-search-wrap .popup__list-search-info ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.popup .popup__list-search-wrap .popup__list-search-info ul li a:after {
  display: inline;
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  margin-left: 20px;
  background-color: black;
}
.popup .popup__list-search-wrap .popup__list-search-info .popup__list-search-close {
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 37px;
  line-height: 36px;
  text-transform: uppercase;
  color: #8c8c8c;
  cursor: pointer;
}
.popup .popup__list-search-wrap .popup__list-search-input {
  display: flex;
  width: 80%;
  position: relative;
}
.popup .popup__list-search-wrap .popup__list-search-input svg {
  position: absolute;
  top: 0;
  left: 0;
}
.popup .popup__list-search-wrap .popup__list-search-input input {
  padding: 10px 40px;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.popup .popup__list-search-wrap button {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  border: 1px solid black;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}
.popup .popup__list-search-wrap button:hover {
  color: white;
  background-color: black;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  height: 0;
}
header .container {
  position: relative;
  z-index: 9;
  background: linear-gradient(180deg, #8c8c8c 0%, rgba(217, 217, 217, 0) 100%);
  width: 100%;
  height: 152px;
}
header .container .header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 767px) {
  header .container .header {
    padding: 15px 10px;
  }
}
header .container .header.active {
  background-color: white;
}
header .container .header__logo {
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}
header .container .header__logo-black {
  display: none;
  width: 130px;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0);
}
header .container .header__logo-white {
  width: 130px;
}
@media screen and (max-width: 767px) {
  header .container .header__logo {
    left: 30%;
    top: 23%;
  }
  header .container .header__logo-black {
    display: none;
    width: 110px;
  }
  header .container .header__logo-white {
    display: block;
    width: 110px;
  }
}
header .container .header__left {
  position: absolute;
  left: 5%;
}
@media screen and (max-width: 991px) {
  header .container .header__left {
    display: none;
  }
}
header .container .header__left-list {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}
header .container .header__left-list-item {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
}
header .container .header__left-list-item a {
  text-decoration: none;
}
header .container .header__left-list-item:nth-child(-n+2) {
  position: relative;
}
header .container .header__left-list-item:nth-child(-n+2)::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 1px;
  height: 100%;
  right: -24px;
}
header .container .header__center {
  display: none;
  gap: 50px;
}
header .container .header__center-item a {
  line-height: 18px;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
header .container .header__right-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .header__right-list .header__item {
  color: white;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}
header .container .header__right-list .header__item-search {
  cursor: pointer;
  margin-right: 20px;
  width: 350px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  header .container .header__right-list .header__item-search {
    width: 100%;
  }
}
header .container .header__right-list .header__item-search-icon {
  width: 1.7rem;
  height: 1.7rem;
  padding: 10px 0;
  position: absolute;
  left: 0;
}
header .container .header__right-list .header__item-search-input {
  cursor: pointer;
  outline: none;
  color: white;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 10px 0 10px 40px;
}
@media screen and (max-width: 1199px) {
  header .container .header__right-list .header__item-search-input {
    display: none;
  }
}
header .container .header__right-list .header__item-heart {
  position: relative;
}
header .container .header__right-list .header__item-heart:after {
  content: "";
  position: absolute;
  background-color: rgb(233, 65, 65);
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  top: -15px;
  right: 0;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  header .container .header__right-list .header__item-heart:after {
    top: -10px;
  }
}
@media screen and (max-width: 767px) {
  :is(header .container .header__right-list .header__item-heart, header .container .header__right-list .header__item-search, header .container .header__right-list .header__item-cart, header .container .header__right-list .header__item-user) svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}
header .container .header .nav__mobile {
  position: relative;
  width: 2rem;
  display: none;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 767px) {
  header .container .header .nav__mobile {
    display: flex;
  }
}
header .container .header .nav__mobile-line {
  cursor: pointer;
  display: block;
  height: 3px;
  width: 70%;
  background-color: white;
}
header .container .header .nav__mobile-line.active {
  background-color: black;
}
header .container .header .nav__mobile-line:nth-child(2) {
  width: 100%;
}

.menu {
  position: relative;
  width: 40%;
  color: black;
  height: 0;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu__section {
  background-color: transparent;
  padding: 20px 50px;
  position: relative;
  z-index: 12;
  height: 100vh;
}
.menu__section-list {
  display: flex;
  gap: 48px;
}
@media screen and (max-width: 991px) {
  .menu__section-list {
    gap: 35px;
  }
}
.menu__section-list-item {
  color: white;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  font-weight: 700;
}
.menu__section-list-item:nth-child(-n+2) {
  position: relative;
}
.menu__section-list-item:nth-child(-n+2)::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 1px;
  height: 100%;
  right: -24px;
}
.menu__section .menu__list {
  padding-top: 48px;
}
.menu__section .menu__list-item {
  color: white;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}
.menu__section .menu__list-item .subItem {
  display: flex;
}
.menu__section .menu__list-item .subItem__list {
  padding-left: 20px;
  display: none;
}
.menu__section .menu__list-item .subItem__list-item:hover {
  color: rgb(235, 248, 52);
}
.menu__section .menu__list-item .subItem-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 20px;
  left: 10px;
  display: block;
  transform: translateY(-50%);
}
.menu__section .menu__list-item .subItem-icon:before, .menu__section .menu__list-item .subItem-icon:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 70%;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 200ms;
}
.menu__section .menu__list-item .subItem-icon:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.menu__section .menu__list-item .subItem.active .subItem__list.active {
  display: block;
}
.menu__section .menu__list-item .subItem.active .subItem-icon:after {
  transform: translate(-50%, -50%) rotate(0deg);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
.middle .middle-wrap {
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  background-color: white;
  padding: 35px 0;
}
@media screen and (max-width: 991px) {
  .middle .middle-wrap {
    padding: 15px 0;
  }
}
.middle .middle-wrap .middle__list {
  display: flex;
  gap: 40px;
  padding: 0 50px;
}
@media screen and (max-width: 767px) {
  .middle .middle-wrap .middle__list {
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 20px;
  }
}
.middle .middle-wrap .middle__list .middle__item {
  position: relative;
  flex-basis: 1;
}
.middle .middle-wrap .middle__list .middle__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.middle .middle-wrap .middle__list .middle__item-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 7px;
  font-size: 14px;
  min-width: 140px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.middle .middle-wrap .middle__list .middle__item-btn:is(:hover, :focus) {
  background-color: black;
  transition: 0.3s;
  border: none;
}

footer {
  height: auto;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
}
footer .footer {
  padding: 40px 60px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 20px;
}
footer .footer__brand {
  grid-column: 1/6;
}
@media screen and (max-width: 767px) {
  footer .footer__brand {
    grid-column: 1/17;
  }
}
footer .footer__brand-logo {
  margin: 20px 0;
}
footer .footer__brand-name {
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}
footer .footer__brand-address {
  line-height: normal;
  font-size: 16px;
}
footer .footer__right {
  grid-column: 7/17;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 767px) {
  footer .footer__right {
    grid-column: 1/17;
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .footer__right-company-title, footer .footer__right-policy-title, footer .footer__right-info-title {
  font-weight: 700;
  font-size: 24px;
  position: relative;
  margin: 20px 0;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 3;
}
footer .footer__right-company-title:after, footer .footer__right-policy-title:after, footer .footer__right-info-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fc54a0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
footer .footer__right-company-list, footer .footer__right-policy-list, footer .footer__right-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer__right-company-list-item, footer .footer__right-policy-list-item, footer .footer__right-info-list-item {
  font-size: 16px;
  font-weight: 400;
}
footer .footer__right-company-list-item strong, footer .footer__right-policy-list-item strong, footer .footer__right-info-list-item strong {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
footer .footer__right-company-list-item:hover, footer .footer__right-policy-list-item:hover, footer .footer__right-info-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer__right-company-more, footer .footer__right-policy-more, footer .footer__right-info-more {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}
footer .footer__right-company-more:hover, footer .footer__right-policy-more:hover, footer .footer__right-info-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product {
  padding: 100px 60px;
}
@media screen and (max-width: 767px) {
  .product {
    padding: 30px 20px;
  }
}
.product-title {
  margin: 0 auto 37px;
  width: -moz-fit-content;
  width: fit-content;
}
.product-title h2 {
  margin: 0 auto;
  position: relative;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;
  z-index: 7;
}
@media screen and (max-width: 767px) {
  .product-title h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
.product-info .product-list {
  display: flex;
  gap: 30px;
  position: relative;
}
.product-info .product-list .slick-track {
  display: flex;
  gap: 20px;
}
.product-info .product-list .slick-track .product__wrap {
  width: auto;
  position: relative;
  overflow: hidden;
}
.product-info .product-list .slick-track .product__wrap-img {
  will-change: transform;
  transition: transform 0.64s ease;
  width: 100%;
  height: 100%;
}
.product-info .product-list .slick-track .product__wrap-banner {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  will-change: transform;
  transition: transform 0.64s ease;
}
.product-info .product-list .slick-track .product__wrap:hover img {
  transform: scale(1.06);
}
.product-info .product-list .slick-track .product-info .product__name-wrap {
  display: flex;
  padding: 10px 0;
  cursor: pointer;
}
.product-info .product-list .slick-track .product-info .product__name-wrap span:hover {
  text-decoration: underline;
}
.product-info .product-list .slick-track .product-info .product-price-wrap .product-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #000;
}
.product-info .product-list .slick-track .product-info .product-price-wrap .product-preview {
  cursor: pointer;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.product-info .product-list .slick-track .product-info .product-price-wrap .product-preview img {
  width: 3rem;
  height: 3rem;
}
.product-info .product-list .slick-track .product-info .product-price-wrap .product-preview:hover {
  transition: all 0.3s ease;
}
.product-info .product-list .slick-track .product-info .product-price-wrap .product-preview:hover:before {
  content: "Đen";
  background-color: white;
  position: absolute;
  width: 67px;
  height: 125px;
  border: 1px solid black;
  top: -120px;
  text-align: center;
  border-radius: 2px;
}
.product-info .product-list .slick-track .product-info .product-price-wrap .product-preview:hover:after {
  content: "";
  background: url("https://routine.vn/media/catalog/product/cache/d6ec37e98cd5482d3197d29f912fea48/q/u/quan-jean-nam-10s21dpaw001cr1-black-_2__2.jpg") no-repeat center;
  width: 48px;
  height: 90px;
  display: block;
  position: absolute;
  top: -100px;
  left: 10px;
}
@media (max-width: 389px) {
  .product-info .product-list .slick-track .product__wrap-banner {
    display: none;
  }
}
.product-info .product-list .slick-arrow {
  all: unset;
  font-size: 24px;
  cursor: pointer;
}
.product-info .product-list .slick-dots {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
}
.product-info .product-list .slick-dots .slick-active button {
  background-color: #2b2b2b;
}
.product-info .product-list .slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  background-color: rgba(120, 120, 120, 0.8);
  border-radius: 50%;
  margin: 0 5px;
  font-size: 0;
  cursor: pointer;
}
.product-info .product-list .slick-prev,
.product-info .product-list .slick-next {
  display: flex;
  align-items: center;
}
.product-info .product-list .slick-disabled {
  color: #ccc;
}
@media screen and (max-width: 991px) {
  .product-info .product-list .slick-track .product-price {
    color: yellow;
  }
  .product-info .product-list .slick-slide div {
    position: relative;
  }
}
.product-readmore {
  margin: 80px 0;
}
.product-readmore a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 30px;
  border: 1px solid #000;
  border-radius: 2px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
.product-readmore a:hover {
  background-color: #000;
  color: white;
}/*# sourceMappingURL=style.css.map */